@import 'style.scss';

.column{
    overflow: auto;

    box-sizing: border-box;
}
.column:first-child{
    width: 60%;
    padding-right: 50px;
}
.column:last-child{
    width: 40%;
    padding-left: 15px;
}
.contacts-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;

    position: relative;

    margin-bottom: 50px;

    letter-spacing: -1.5px;
    text-transform: uppercase;

    color: $color4;
}
.contacts-form{
    padding-top: 25px;
}
.contacts-form form{
    width: 100%;
}
.contacts-form input[type='text']{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 22px;

    display: block;
    float: left;

    box-sizing: border-box;
    width: calc(50% - 5px);
    padding: 20px 40px;

    transition: .3;
    text-transform: uppercase;

    color: $color3;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 40px;
    outline: none;
}
.contacts-form input[type='text'] + input{
    margin-left: 10px;
}
.contacts-form textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 22px;

    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 250px;
    margin-top: 10px;
    padding: 20px 40px;

    transition: .3;
    text-transform: uppercase;

    color: $color3;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 40px;
    outline: none;
}
.contacts-form input[type='submit']{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;

    position: relative;

    display: inline-block;
    float: right;

    margin-top: 4px;
    padding: 12px 20px;

    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #ffffff;
    border: 3px solid #0db496;
    border-radius: 35px;
    outline: none;
    background-color: #0db496;
}
.contacts-form input[type='submit']:hover{
    color: $color;
    background-color: transparent;
}
.contacts-form input[type='text']:focus, .contacts-form textarea:focus{
    border-color: $color;
}
.contacts-info{
    padding-top: 25px;
}
.contacts-info-block + div{
    margin-top: 25px;
}
.contacts-info-block{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.contacts-info-block-title{
    color: $color4;
}
.contacts-info-block-content{
    color: $color3;
}
.contacts-info-block-content a{
    text-decoration: none;

    color: $color3;
}
.contacts-info-block-content a:hover{
    text-decoration: underline;
}
.contacts-info .social-btn__link{
    padding: 0;

    transition: .3s;
    text-decoration: none;
}
.contacts-info .social-btn__link + a{
    margin-left: 15px;
}
